
header{
    font-size: 12px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@keyframes aparecer {
    from{
        right: -15rem;
    }
    to{
        right: 0;
    }
}
@keyframes desaparecer {
    from{
        right: 0;
    }
    to{
        right: -15rem;
    }
}
.navigation{
    display: flex;
    flex-direction: column;
    background-color: #5f5f5f35;  
    backdrop-filter: blur(5px);
    height: 93%;
    position: absolute;
    padding: 2rem  3rem 0 1rem;
    top: 0;
    right: 0;
    z-index: 4;
    align-items: flex-start;
    gap: 1rem;
    animation-duration: 0.8s;
    animation-name: aparecer;
    
}



.Menu{
    font-size: 1.5rem;
}

.show{
    display: block;
}

.hidden{
    display: none;
    animation: 0.8s desaparecer;
}
